<article class="flat-bio">
<h2><%= @property.title %></h2>
<strong> Number of rooms: </strong> <%= @property.rooms.count %>

<p><%= @property.description %>

Roof party lomo Odd Future, viral 8-bit Tonx normcore tousled Banksy. Wes Anderson artisan Williamsburg Neutra. Freegan quinoa forage shabby chic cornhole vinyl. IPhone polaroid forage ennui, jean shorts flexitarian Godard gastropub kitsch sartorial Cosby sweater pickled. Ethical Marfa deep v church-key. Gluten-free biodiesel art party squid vinyl swag, Banksy keytar sustainable. Roof party sriracha fashion axe bitters.</p>
</article>