<article class="flat-bio">
	<h2><%= @property.title %> <%= star_rating(@property.reviews.average(:rating)) %></h2>
	<strong> Number of rooms: </strong><%= @property.rooms.count %>
		<p><%= @property.description %></p>
</article>