<article class="flat-bio">
	<h2><%= @property.user.username  %></h2>
	<strong>My rate: </strong>
	<%= "#{star_rating(@property.user.reviews.average(:rating))}" %>
		<p><%= @property.user.username %></p>
</article>