<article class="flat-bio">
	<h2><div class="star-rating-title"><%= "#{star_rating(@property.user.reviews.average(:rating))}" %></div><%= @property.user.username  %></h2>
		<p><%= @property.user.username %></p>
</article>