<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <div class="carousel-inner">
    <% @property.pictures.each_with_index do |picture, index| %>
    <% if picture.image.present? %>
  <!-- Wrapper for slides -->
    <% if index == 0 %>
    <div class="item active">
     <img class="image-show" src="<%= picture.image.url(:medium)%>">
    </div>
    <% else %>
    <div class="item">
      <img class="image-show" src="<%= picture.image.url(:medium)%>">
    </div>
    <% end %>
 <% end %>
<% end %>
</div>
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
