<h1 class="intro-sentence container"> Ready to know who's living with you?</h1>
<div class="home_search_form_container container">
  <form method='GET' action='/properties' id="home_search_form" >
    <input type="text" name="search_bar" id="home_search_bar" placeholder='Type location' class="col-xs-6 .col-sm-4" required>
    <input type="submit" value="Search" >
  </form>
</div>


<!-- <form method='GET' action='/properties' >
	<input type="text" name="search_bar" id="search_bar" placeholder='Type location' class="col-xs-6 .col-sm-4" required>
	<input type="submit" value="Search" >
</form>
-->