<h1>Hey, <%= @user.username %>!</h1>
<h4>Your bio: </h4><p><%= @user.bio %></p>
<h6>
	<em>
		You can see your all your reviews there:
	</em>
	<strong>
		<%= link_to 'All reviews', user_reviews_path(@user) %>
	</strong>
<h6>
