/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
*/

@import "bootstrap-sprockets";
@import "bootstrap";

/* Colours*/

/* Index Layout */

/* Fonts */

$ada: 'Adamina', serif;
$quick: 'Quicksand', sans-serif;
$area :	1px red solid;

html {
	height: 100%;
}

body {
	/* background: url(' https://s3.amazonaws.com/getaroom/background.jpg') no-repeat center center; */
	background-size: 100%;
	background-position-y: -40px;
	height: 100%;
}


a:visited {
	 color: rgb(75,75,75);
}

a:hover {
	 color: rgb(75,75,75);
	text-decoration: none;
}

li{
		list-style-type: none;
}

#header-home {
	float: left;
}

.header-layout {

	float: right;
	display: block;

	ul {
		list-style-type: none;
	}

	nav li {
		display: inline-block;
	}

}

.property_list_container {
	padding: 0px;
	background: rgba(74,74,74,1) ;
	height: 100%;
	height: 85%;
	position:relative;
	overflow-y: auto;
	
	input[type=submit] {
		width:38px;
		height: 38px;
		background: url('search_property_small.png') no-repeat;
		border: none;
		color: transparent;
		position:absolute;
		right:0px;
		outline: none;
	}

	.property_item {
			clear: both;
			padding:4px 10px;
			min-height: 72px;
			background-color: rgba(242,242,242,1);
			border-bottom: 1px rgba(74,74,74,0.6) solid;
			width: 100%;
	}

	.property_item:hover {
		background-color: rgba(245,166,35,1);
		transition-delay: 0.6s ease-in-out;
	}

	.property_item .property_title{
		font-family: $ada;
		font-size: 18px;
		width: 60%;
		display: inline-block;
	}
	
	.property_item a{
		color: rgb(74,74,74);
	}

}

.property_item .edit {
	font-family: $ada;
	font-size: 12px;
}

.property_review {
	font-family: $ada;
	font-size: 14px;
	width: 80px;
	display: inline-block;
	position: absolute;
	right:0px;
}

address{
	font-family: $quick;
	font-size: 16px;
	width: 70%;
	display: inline-block;
	margin:0px;
}

.posted_by{
	font-family: $quick;
	font-size: 14;
}

#index_search_bar {
	width: 98%;
	height: 38px;
	color: rgba(74,74,74,0.8);
	font-family: $quick;
	font-size: 20px;
	border: none;
	background-color: rgba(216,216,216,0.8);
}

#index_search_bar:focus {
	 outline: none;
} 

.container-fluid {
	padding-left: 0px;
	padding-top: 2px; 
}

#home_search_bar {
	width: 400px;
	height: 38px;
	color: rgba(74,74,74,0.8);
	font-family: $quick;
	font-size: 20px;
	border: none;
	background-color: rgba(216,216,216,0.8);
}

#home_search_bar:focus{
	outline:none;
} 

#home_search_form {
		width: 500px;
		margin: 0 auto;

		input[type=submit] {
		width:38px;
		height: 38px;
		background: url('search_property_small.png') no-repeat;
		border: none;
		color: transparent;
		position:absolute;
		outline: none;
	}
}

.navbar {
		min-height: 60px;
		font-size: 1.2em;
		background-color: rgba(74, 74, 74, 0.6);
		border: none;
		border-radius: 0px;

	a{
	 color: rgb(255,255,255);
	}

	a:visited {
	 color: rgb(255,255,255);
	}

	.navbar-right a:visited {
	 color: rgb(255,255,255);

	}

	.navbar-right a{
	 color: rgb(255,255,255);
	}

	.navbar-right a {
	 font-family: "helvetica neue"; 
	 font-weight: 100;
	 color: rgb(255,255,255);
	 border: 2px whitesmoke solid;
	 border-radius: 8px;
	 margin-right: 10px;
	 height: 24px;
	 position: relative;
	 top: 16px;
	 text-align: center;
	 padding:4px 10px;
	}

	.nav li a{
	 display: inline;
	}


	.home_search_form_container {
		height: 100%;
	}
	
}

.navbar-brand{
	position:relative;
	left: 5%;
	bottom:5px;
}


#map {
	height: 85%;
}

.nav-tabs {

	li {
		display: block;
		float: none;
	}

}

img.image-show {
	margin-left: auto;
	margin-right: auto;
}

.footer {
	color: whitesmoke;
	margin-top: -150px;
	height: 50px;
	clear: both;
	padding-top: 20px;
	color: #fff;
	background-color: #646464;
	padding-left: 5;
	bottom: 0px;
}


.footer a {
	color: whitesmoke;
	font-family: $quick;
	margin-left:10px;
	position: relative;
	bottom:8px;
}
/*
.carousel {
	position: relative;
	margin-top: -82px;
	margin-left: -232px;
	width: 141%;
}

.flat-partial {
	float: left;
	position: absolute;
	margin-left: -58%;
	border: 1px solid red;
	list-style-type: none;
	width: 100%;
}

.flat-review-partial {
	float: right;
	position: absolute;
	margin-right: -77%;
	border: 1px solid blue;
	margin-left: 44%;
	list-style-type: none;
}

*/


li.col-md-6 {
	list-style-type: none;
}

li.flat-partial.col-md-6 {
	top: -32px;
	left: -4%;
}

li.flat-review-partial.col-md-6 {
	top: -32px;
}

section.input-thougths input {
	width: 70%;
}

section.input-thougths-big input {
	width: 70%;
	-webkit-transition: height 2s ease;
	-moz-transition: height 2s ease;
	-ms-transition: height 2s ease;
	-o-transition: height 2s ease;
	transition: height 2s ease;
}

section.input-thougths-big input:focus {
	width: 70%;
	height: 120px;
	-webkit-transition: height 2s ease;
	-moz-transition: height 2s ease;
	-ms-transition: height 2s ease;
	-o-transition: height 2s ease;
	transition: height 2s ease;
}

input.submit-button {
	width: 70%;
	height: 30px;
}

form .stars {
background: url("stars.png") repeat-x 0 0;
width: 150px;
margin: 0 auto;
display: inline-block;
position: absolute;
top: 17px;
margin-left: 35%;
}

form .stars input[type="radio"] {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}
form .stars input[type="radio"].star-5:checked ~ span {
  width: 100%;
}
form .stars input[type="radio"].star-4:checked ~ span {
  width: 80%;
}
form .stars input[type="radio"].star-3:checked ~ span {
  width: 60%;
}
form .stars input[type="radio"].star-2:checked ~ span {
  width: 40%;
}
form .stars input[type="radio"].star-1:checked ~ span {
  width: 20%;
}
form .stars label {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0!important;
  padding: 0!important;
  text-indent: -999em;
  float: left;
  position: relative;
  z-index: 10;
  background: transparent!important;
  cursor: pointer;
}
form .stars label:hover ~ span {
  background-position: 0 -30px;
}
form .stars label.star-5:hover ~ span {
  width: 100% !important;
}
form .stars label.star-4:hover ~ span {
  width: 80% !important;
}
form .stars label.star-3:hover ~ span {
  width: 60% !important;
}
form .stars label.star-2:hover ~ span {
  width: 40% !important;
}
form .stars label.star-1:hover ~ span {
  width: 20% !important;
}
form .stars span {
  display: block;
  width: 0;
  position: relative;
  top: 0;
  left: 0;
  height: 30px;
  background: url("stars.png") repeat-x 0 -60px;
  -webkit-transition: -webkit-width 0.5s;
  -moz-transition: -moz-width 0.5s;
  -ms-transition: -ms-width 0.5s;
  -o-transition: -o-width 0.5s;
  transition: width 0.5s;
}


/* second stars */

form .stars-landlord {
background: url("stars1.png") repeat-x 0 0;
width: 150px;
margin: 0 auto;
display: inline-block;
position: absolute;
top: 17px;
margin-left: 35%;
}

form .stars-landlord input[type="radio"] {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}
form .stars-landlord input[type="radio"].star-landlord-5:checked ~ span {
  width: 100%;
}
form .stars-landlord input[type="radio"].star-landlord-4:checked ~ span {
  width: 80%;
}
form .stars-landlord input[type="radio"].star-landlord-3:checked ~ span {
  width: 60%;
}
form .stars-landlord input[type="radio"].star-landlord-2:checked ~ span {
  width: 40%;
}
form .stars-landlord input[type="radio"].star-landlord-1:checked ~ span {
  width: 20%;
}
form .stars-landlord label {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0!important;
  padding: 0!important;
  text-indent: -999em;
  float: left;
  position: relative;
  z-index: 10;
  background: transparent!important;
  cursor: pointer;
}
form .stars-landlord label:hover ~ span {
  background-position: 0 -30px;
}
form .stars-landlord label.star-landlord-5:hover ~ span {
  width: 100% !important;
}
form .stars-landlord label.star-landlord-4:hover ~ span {
  width: 80% !important;
}
form .stars-landlord label.star-landlord-3:hover ~ span {
  width: 60% !important;
}
form .stars-landlord label.star-landlord-2:hover ~ span {
  width: 40% !important;
}
form .stars-landlord label.star-landlord-1:hover ~ span {
  width: 20% !important;
}
form .stars-landlord span {
  display: block;
  width: 0;
  position: relative;
  top: 0;
  left: 0;
  height: 30px;
  background: url("stars.png") repeat-x 0 -60px;
  -webkit-transition: -webkit-width 0.5s;
  -moz-transition: -moz-width 0.5s;
  -ms-transition: -ms-width 0.5s;
  -o-transition: -o-width 0.5s;
  transition: width 0.5s;
}

.carousel {
	position: relative;
}

ul.ul-footer {
	list-style-type: none;
	display: inline-flex;
	margin-bottom: 0px;
}


.add_property{
	font-family: $ada;
	color: whitesmoke;
	margin: auto auto;
	height:440px;
	width: 420px;
	background-color: rgba(75,75,75,0.7);
	position:relative;
	top:10%;
	input{
		color: rgba(75,75,75,0.7);
		margin-top: 8px;
		border: none;
		width:250px;
		height: 28px;
	}

}

.form_label label{
	width: 		 110px;
	text-align: right;
}

.form_text_short input{
	width: 88px;
}

.form_label_short input{
	width: 40px;
}

.form_text_tall input {
	height:80px;
	width:220px;
}

.form_submit input[type=submit]{
		margin: 0px auto;
		padding:0px;
		width:420px;
		position: relative;
		bottom: -14px;
}

.form_submit input[type=submit]:hover {
	background-color: rgba(245,166,35,1);
	transition-delay: 0.6s ease-in-out;
}

article.flash {
display: table-column;
position: absolute;
}


nav.navbar.navbar-default {
	margin-bottom: 0px;
}

.col-md-12.home_search_form_container {
	top: 40%;
}

.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 10px;
}
.fileUpload input.upload {
	width:300px;
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

.btn-primary {
	width:245px;
	background-color: transparent;
	border: 1px whitesmoke solid;
}

#property_description{
	color: rgba(74,74,74,1);
	width:250px;
}

button{
	border:$area;
	text-decoration: none;
	color: #fff;
  font-size: 20px; 
  cursor: pointer;
  background: transparent;
  position: relative
}

.btn-primary:hover {
	width:245px;
	background-color: rgba(74,74,74,0.8);

}

#property_pictures_attributes_0_image button{
	// background: transparent;
	border-radius: 8px;
	width: 100px;
	display: inline-block;
}

#property_pictures_attributes_1_image {
	width: 100px;
	display: inline-block;
}
#property_pictures_attributes_2_image {
	width: 100px;
	display: inline-block;
}

.modal-content{
	color:whitesmoke;
	width:300px;
	margin:100px auto;
	background-color: rgba(74,74,74,0.8);
}


.edit_user{
	color: whitesmoke;
	padding-top: 20px;
	width:400px;
	background-color: rgba(74,74,74,0.8);
	margin: 0px auto;
	height:200px;

 	input[type=submit]{
		margin: 0px auto;
		padding:0px;
		width:100%;
		position: relative;
		background-color: rgba(216,216,216,1);
		bottom:-90px;
		border: none;
	}
	input[type=submit]:hover{
			background-color: rgba(245,166,35,1);
	}
		#user_image{
		width: 200px;
		height: 30px;
		display: inline-block;
		background:gray;
		border: 1px whitesmoke solid;
		border-radius: 8px;
		text-decoration: none;
	}
	#user_bio{
		width: 200px;
	}
}
