<footer class="footer navbar-fixed-bottom">
  <nav class="nav-footer">
	  <ul class="ul-footer"> 
		  <li><a href='#'>Legal</a></li>
			<li><a href='#'>Mapsite</a></li>
			<li><a href='#'>Carreer</a></li>
			<li><a href='#'>Contact Us</a></li>
		</ul>
	</nav>
</footer>  